# Gradle
.gradle/
build/

# Local config
local.properties

# Android Studio / IntelliJ
.idea/
*.iml

# OS
.DS_Store

# NDK / C++
.externalNativeBuild/
.cxx/

# Captures
captures/

# Firebase (keep this ignored unless intentionally shared)
app/google-services.json